$backgroundImage: url('../assets/background1.jpeg')

//breakpoints
$mobile-max: 480px
$desktop-min: 481px

//colors
$white: #fff
$primary: #24a4af
$secondary: #6e77ee
$gray: #b7bcc2
$light: #fafcf7
$light2: #f9fbf6
$light50: rgba(250, 252, 247, .5)
$light80: rgba(250, 252, 247, .8)
$white30: rgba(250, 252, 247, .3)
