.experience
  +mainSection
  display: flex
  flex-direction: column
  @media (min-width: $desktop-min)
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

.experience__element_container
  @media (min-width: $desktop-min)
    width: 32%

.card
  background: $white
  box-shadow: -9px 10px 30px -17px $gray

  &:hover
    box-shadow: -9px 10px 30px -17px $secondary

.card__image
  width: 100%
  @media (max-width: $mobile-max)
    height: 250px

.card__footer
  padding: .3rem 2rem

  .card__label
    +cardFooterElement
    border-bottom: 2px solid $gray
    color: $gray
    display: inline-block
    font-size: .8rem
    text-transform: uppercase

  .card__title
    +cardFooterElement
    font-size: 1.3rem
    font-weight: 700

.experience__content
  padding-right: 2rem

  .experience__title
    font-size: 3.4rem

  .experience__subtitle
    border-bottom: 1px solid $gray
    color: $gray
    font-size: 1.3rem
    font-weight: lighter
    line-height: 2rem
    padding-bottom: 2.5rem

  .experience__footer
    align-items: center
    color: $gray
    display: flex
    font-weight: lighter

  .play-icon
    align-items: center
    background-color: $secondary
    border-radius: 50%
    border: 0
    color: $white
    display: flex
    height: 3rem
    justify-content: center
    margin-right: 1rem
    width: 3rem

.card__AR
  position: relative

.card__economy
  position: relative
  top: 2rem
  left: 1.5rem

