
.experience
  +mainSection
  display: flex
  flex-direction: column

  &__content
    padding-right: $m-base

  &__subtitle
    border-bottom: $border-xs solid $gray
    padding-bottom: $m-base

  &__footer
    align-items: center
    color: $gray
    display: flex
    font-size: $font-size-sm
    font-weight: lighter

    .icon--play
      display: inline-block
      fill: $secondary
      height: $font-size-xl
      margin-right: $m-sm
      width: $font-size-xl

  .header-line--left-align
    margin: 0

.card
  background: $white
  box-shadow: $shadow $gray
  margin: $m-base 0

  &__image__wrapper
    position: relative

    &:after
      background: $secondary
      content: ''
      height: 100%
      left: 0
      opacity: 0
      position: absolute
      top: 0
      transition: .5s ease
      width: 100%

  &:hover
    box-shadow: $shadow $secondary
    .card__image__wrapper:after
      opacity: 0.5

  &:hover &__extra-content
    bottom: 0
    color: $white
    display: block
    font-size: $font-size-base
    padding: $m-base
    position: absolute

.card
  &__extra-content
    display: none

    .icon
      height: $font-size-xl
      fill: $white
      width: $font-size-xl

  &__image
    height: $card-size
    object-fit: cover
    width: 100%

  &__footer
    padding: $m-sm $m-base

  &__label
    +cardFooterElement
    border-bottom: $border-sm solid $gray
    color: $gray
    display: inline-block
    font-size: $font-size-xxs
    letter-spacing: $m-xxs
    text-transform: uppercase

  &__title
    +cardFooterElement
    font-size: $font-size-base
    font-weight: 700

  &__AR
    position: relative

@media (min-width: $min-width)
  .experience
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

    &__content
      padding-right: $m-lg

    &__subtitle
      padding-right: $m-lg

    &__column
      width: 33%

    &__footer
      font-size: $font-size-base

      .icon--play
        height: $font-size-2xl
        width: $font-size-2xl

  .card
    &__image
      height: auto

    &__economy
      left: $m-base
      position: relative
      top: $m-xl

    &__label
      font-size: $font-size-xs
