.title
  font-size: $font-size-lg

.subtitle
  color: $gray
  font-size: $font-size-xs
  font-weight: 200
  line-height: 2em

.header-line
  border-radius: 5px
  border: 3px solid $secondary
  margin-top: 100px
  width: 15%

@media(min-width: $min-width)
  .title
    font-size: $font-size-2xl

  .subtitle
    font-size: $font-size-lg
