.fly-with-us
  +mainSection
  color: $white

.content-title
  border-bottom: 3px solid $primary
  font-weight: normal
  line-height: 3rem
  margin: 0
  text-transform: uppercase

  .underline
    display: inline-block
    &:after
      background-color: $white
      bottom: -3px
      content: ''
      display: block
      height: 3px
      position: relative
      width: 100%

.tabs
  display: none

.header-main
  font-size: 5rem
  @media(min-width: $desktop-min)
    font-size: 8rem
    line-height: 1rem

.header--higher
  @media (min-width: $desktop-min)
    margin-top: -30px

.header-subtitle
  font-size: 2rem

.extra-info
  border-left: 3px solid $white
  font-size: 1.5rem
  font-weight: lighter
  padding-left: 1.5rem

.button-confirm
  font-size: 1.4rem
  padding: 0
  background-color: $primary
  color: $white
  &__text
    padding: 0 3rem
  .im
    background-color: $white
    color: $secondary
    font-size: 1.2rem
    font-weight: lighter
    padding: 1rem

.flight-search
  &__container
    align-items: stretch
    color: $gray
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 7rem 0
    width: 100%

  &__plane-icon
    display: none
    .im-plane
      display: none

  &__element
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center

  &__from, &__to
    background-color: $white
    flex: 1 0 50%
    height: $flight-search-container-height
    margin-bottom: 10px
    position: relative

  &__button
    background-color: $secondary
    color: $white
    flex: 1 0 20%
    font-size: 1.5rem
    font-weight: bold
    min-height: 50px

@media (min-width: $desktop-min)
  .tabs
    color: $gray
    display: flex
    justify-content: flex-end
    .tab
      background-color: $light50
      margin: 0 2px
      padding: $p-sm
      text-align: center
      h3
        font-size: $title-md
        margin: 0
      .dot
        font-family: serif
        font-size: $title-lg
        margin: 0
      &:hover
        h3
          color: black
        .dot
          color: $secondary
          filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.75))

  .flight-search

    &__button
      height: $flight-search-container-height

    &__container
      flex-wrap: nowrap

    &__plane-icon
      background-color: $light80
      display: block
      height: $flight-search-container-height
      width: $flight-search-container-height

      .im-plane
        display: block
        font-size: 2.5rem
        transform: rotate(-45deg)

  &__from, &__to
    flex: 1 0 calc((100% - 20% - #{$flight-search-height})/2)





