
.select-custom
  display: block
  font-size: 1.1rem
  background-color: rgba(255, 255, 255, 0)
  font-weight: 700
  padding: .6rem 1.5rem .6rem .6rem
  border: none
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  width: 12rem

.select__container::after
  content: '\e003'
  font: normal normal normal 17px "iconmonstr-iconic-font"
  color: black
  position: absolute
  right: calc(50% - 6rem)
  top: 3rem
  pointer-events: none
  font-weight: 400

.label-custom
  display: block
  color: $gray
  font-weight: lighter
  font-size: .9rem

