
.header
  color: $white
  display: flex
  justify-content: space-between

.header--right
  display: flex
  justify-content: space-between
  *
    margin: 0 .5rem
  .link
    color: $white
    text-decoration: none


