.header
  color: $white
  display: flex
  justify-content: space-between

.header--right, .header--left
  align-items: center
  display: flex
  justify-content: space-between
  *
    margin: 0 .5rem
  .link
    color: $white
    font-size: .9rem
    font-weight: 700
    text-decoration: none

.header__checkin-button
  +transparentBorder
  border-radius: 8px
  padding: .5rem 2.5rem

.avatar__image
  +transparentBorder
  border-radius: 50%
  height: 2.5rem
  width: 2.5rem

.header__logo
  height: 2.5rem
