.journey
  +mainSection

  &__services
    display: grid
    grid-template-columns: 1fr 1fr

@media (min-width: $min-width)
  .journey

    &__header
      margin: auto
      text-align: center
      width: 60%

    &__services
      grid-template-columns: 1fr 1fr 1fr

  .service__element
    align-self: center
    justify-self: center
    margin: 25px

    .icon__container
      align-items: center
      background-color: $white
      border-radius: 50%
      border: 0px solid white
      box-shadow: -9px 10px 30px -17px $gray
      color: $secondary
      display: flex
      height: 70px
      justify-content: center
      margin: 0 auto
      position: relative
      width: 70px

      .icon
        fill: $secondary

      &:hover
        background-color: $secondary
        box-shadow: 10px 15px 20px -14px $secondary
        color: $white

        .icon
          fill: $white

        &:after
          border-radius: 50%
          border: 4px solid $white
          bottom: -15px
          content: ''
          display: block
          left: -15px
          position: absolute
          right: -15px
          top: -15px

        &:before
          border-radius: 50%
          border: 2px solid $white
          bottom: -40px
          content: ''
          display: block
          left: -40px
          position: absolute
          right: -40px
          top: -40px

    .service-title
      font-size: 12px
      font-weight: normal
      margin: 10px auto
      text-align: center
